li{
border:1px solid grey;
border-radius:50px;
text-align:center;
list-style:none;
color:green;
margin:5px;
font-size:25px;
}
li:hover{
background:green;
color:white;
cursor:pointer;
}
p
{
text-align:justify;
}
.img
{
height:25%;
width:99%;
padding:5px;
margin:3px;
}
.img:hover
{
border:3px solid red;
}
h1{
background:green;
color:white;
}
h1:hover
{
background:white;
color:green;
}
p:hover
{
background:#3399FF;
color:white;
cursor:pointer;
}
